.flex-container div {
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
}
.flex-container {
	display: flex;
	background-color:#1e90ff;
	flex-flow: : row wrap;
	align-content: flex-end;
}